<table class="weather-table">
    <tbody>
       <tr class="weather-table-row">
          <td class="weather-table__cell">
            <div class="weather-table__cell-text">City Name</div>
          </td>
         
          <td *ngFor="let item of mockHeaders" class="weather-table__cell">
            <div class="weather-table__cell-text">
               {{ item }}
            </div>
          </td>
          
       </tr>

       <tr class="weather-table-row">
         <td class="weather-table__cell">
           <div class="weather-table__cell-text">Moscow</div>
         </td>
        
         <td class="weather-table__cell">
           <div class="weather-table__cell-text">15</div>
         </td>

         
      </tr>
       
    </tbody>
 </table>