/* You can add global styles to this file, and also import other style files */
::selection {
    background: rgba(35,131,226,.28);
}

body {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(55, 53, 47);
}

* {
    box-sizing: border-box;
}